:root {
    --main-color: #1ABC9C;
    --secondary-color: #2C3E50;
    --light-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    margin-bottom: 15px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

a {     
    color: var(--light-color);
    text-decoration: none;
}

#presentation {
    color: var(--light-color);
    display: grid;
    min-height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10fr 90fr;
    
}

#navMenu {
    background: var(--secondary-color);
    grid-row: 1/2;
    grid-column: 1/3;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 150px;
}

.logo {
    margin: auto 0;
    font-size: 40px;    
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation > a {
    padding-left: 100px;
}

#mainInfo {
    background: linear-gradient(to bottom, var(--main-color), var(--secondary-color));

    grid-row: 2/3;
    grid-column: 1/3;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px 150px;
}

.mainContent{
    grid-column: 1/2;
}

.mainImage{
    grid-column: 2/3;
    display: flex;
    justify-content: flex-end;
}

.mainImage img {
    height: 400px;
    width: auto;
}

#slider {
    min-height: 100vh;
    background: linear-gradient(to right, var(--main-color), var(--secondary-color));
    text-align: center;
    padding: 100px;
    display: flex;
}

#ramtest, #cputest {
    min-height: 100vh;
    background: var(--light-color);
    text-align: center;
    padding: 50px;
}

#ramChart, #cpuChart {
    margin-top: 150px;
}

#aboutus {
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--main-color), var(--secondary-color));
    color: var(--light-color);
    text-align: center;
    padding: 50px;
}

.team {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: repeat(2, 1fr);
    height: 600px;
}

.team img{
    height: 200px;
    width: 200px;
    border-radius: 50%;    
    margin: 25px;
}

.us {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    margin: 50px auto;
}

.member1{
    grid-column: 1/2;
    margin: auto;
}

.member2{
    grid-column: 2/3;
    margin: auto;
}

#sponsors {
    min-height: 100vh;
    text-align: center;
    padding: 50px;
    background: var(--light-color);
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.sponsorLogos {
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sponsorLogos img {
    height: 200px;
    width: 200px;
}

#contactus {
    min-height: 100vh;
    background: linear-gradient(to top, var(--main-color), var(--secondary-color));
    color: var(--light-color);
    text-align: center;
    padding: 100px 150px;
}

.contactForm{
    margin-top: 50px;
}

input[type="text"], input[type="email"], input[type="tel"], textarea, button {
    display: block;
    margin: 10px auto;
    width: 300px;
    padding: 15px;
    text-transform: uppercase;
    border-radius: 5px;
}

footer {
    height: 40vh;
    background: var(--secondary-color);
    color: white;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30vh 10vh;
}

.address{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactme{
    grid-column: 2/3;
    grid-row: 1/2;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

}

.links {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.links a{
    margin: 20px 30px;
}

.copyright {
    grid-row: 2/3;    
    grid-column: 1/3;
    height: 100%;
    width: 100%;
    background: #1A252F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border-radius: 10px;
    background: var(--secondary-color);
    color: white;
    align-items: center;
}

.btn-sm {
    width: 100px;
}

.btn:hover {
    transform: scale(0.95);
    cursor: pointer;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    max-height: 800px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }