.boton{
  width:100;
  height:100;
  background-color:#03800b;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
}
.boton:hover{
  opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}

.boton2{
    width:50;
  height:50;
    font-size:20px;
      border-radius: 20px;

}
hr{
  height: 2px;
  background-color: black;
}